

.botaoteste{
	font-size: 2em;
	width: 60%;
	height: 2em;
	margin-top: 100px;
}

#texto .botaoteste{
	font-size: 2em;
	width: 60%;
	height: 2.3em;
}

.caixa{
	font-size: 1.6em;
	width: 70%;
	height: 300px;
	min-width: 300px;
	min-height: 210px;
}


